default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  encoding: utf8
  reconnect: true

development:
  <<: *default
  database: interview_app

test:
  <<: *default
  database: interview_app